<div class="header">
  <div class="row">
    <label>Number of tiles:</label>
    <input
      type="number"
      min="0"
      oninput="validity.valid || (value = 0);"
      [ngModel]="count"
      (ngModelChange)="valueChanged($event)"
    />
  </div>
  <div class="row">
    <label>Optimized?</label>
    <input type="checkbox" #myCheckbox (change)="(true)" />
  </div>
</div>

<ng-container *ngIf="!myCheckbox.checked">
  <p>
    These tiles use HostListener without patching the events. When change
    detection is triggered their border turns red for a while.
  </p>
  <p>Click a few times anywhere on the screen to see it in action.</p>

  <div class="wrapper">
    <ng-container *ngFor="let i of countArray">
      <app-bad-tile [isFacedUp]="i === faceUpTile"></app-bad-tile>
    </ng-container>
  </div>
</ng-container>

<ng-container class="wrapper" *ngIf="myCheckbox.checked">
  <p>
    These tiles run HostListener events outside Angular. No redundant change
    detection cycles are triggered.
  </p>
  <p>Click a few times anywhere on the screen.</p>
  <div class="wrapper">
    <ng-container *ngFor="let i of countArray">
      <app-good-tile [isFacedUp]="i === faceUpTile"></app-good-tile>
    </ng-container>
  </div>
</ng-container>
