/* You can add global styles to this file, and also import other style files */
.triggered {
  border: 2px solid red !important;
}

body {
  user-select: none;
}

.faced-up {
  background-color: #e385ec;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
